/* ABOUT SECTION */
.about {
    padding: 80px 20px;
    background-color: var(--white);
    max-width: 1200px;
    margin: 0 auto;
}

.about h2 {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 40px;
    color: var(--black);
}

.about_content {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    /* allows wrapping if needed */
}

.about_img {
    flex: 1;
    max-width: 350px;
    /* limits image size on desktop */
    border-radius: 15px;
    border: 4px dotted var(--main-color);
    padding: 8px;
    margin: 0;
    /* remove auto margin so it stays left */
}

.about_text {
    flex: 2;
    font-size: 1.2rem;
    line-height: 1.7;
    text-align: justify;
    text-justify: inter-word;
}


.about_text strong {
    color: var(--main-color);
}